#efc-card-container {
    display: flex;
    gap: 0;
    padding: 5px;
    padding-left: 20px;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 10000;
    min-width: 120px
}

@media (max-width:1000px) {
    #efc-card-container {
        position: static;
        left: 0
    }

    .search-input-container {
        margin-left: 0px !important
    }
}

.efc-card {
    width: 13px;
    height: 35px;
    perspective: 1000px;
    transition: all 0.3s
}

.efc-card:nth-child(4),
.efc-card:nth-child(5) {
    width: 5px
}

.efc-card.flip {
    width: 20px
}

.efc-card-content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s cubic-bezier(.4, .2, .2, 1);
    transform-style: preserve-3d
}

.efc-card.flip .efc-card-content {
    transform: rotateY(180deg)
}

.efc-card-front,
.efc-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    backface-visibility: hidden;
    font-family: var(--font-family-Sans), var(--font-famili-emoji);
    font-weight: 400
}

.efc-card-front {
    width: 100%;
    color: var(--color-text-secondary)
}

.efc-card-back {
    background-color: var(--color-primary);
    color: var(--color-accent-hover);
    transform: rotateY(180deg);
    font-weight: 800
}